body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
header {
  width: 90%;
  margin: 1em auto;
  padding: 1em;
  border-bottom: 1px solid #e8eaed;
}

main {
  width: 90%;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}

main .image {
  width: 250px;
  margin: 1em;
}
main .image img {
  width: 100%;
  margin: 0.25em;
}

.button-container {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
  .button-container {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

button {
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  border: none;
  border-radius: 2px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 46px;
  line-height: 1;
  letter-spacing: 0.75px;
  margin: 8px 0;
  padding: 15px 24px;
  transition: color 0.15s linear, background-color 0.15s linear;
  vertical-align: middle;
}
button:hover {
  background-color: #a4a4a4;
  color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

footer {
  padding: 1em;
}

/* active */

.active {
  background-color: orange;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
