a {
  color: grey;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid red;
}

ol {
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  width: 380px;
}
