body {
  font-family: "Lexend Deca", sans-serif;
}

a {
  color: grey;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

ol {
  display: flex;
  justify-content: space-evenly;
  width: 380px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 584px;
  margin: 30px auto;
}

.search-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 44px;
  margin-top: 40px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

.search-container:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

input[type="text"] {
  width: 100%;
  font-size: 22px;
  border: none;
  font-family: "Lexend Deca", sans-serif;
}

input[type="text"]:focus {
  outline: none;
}

.search-mag-glass {
  margin-top: 14px;
  margin-left: 9px;
  height: 20px;
  width: 20px;
}

.search-microphone {
  margin-top: 12px;
  margin-right: 9px;
  height: 23px;
  width: 23px;
}
