a {
  color: grey;
  font-size: 18px;
}

header {
  border: 1px solid goldenrod;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

ol {
  border: 1px solid goldenrod;
  display: flex;
  justify-content: space-evenly;
  width: 380px;
}
