body {
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid green;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

header {
  width: 90%;
  margin: 20px auto;
  padding: 15px;
  border-bottom: 1px solid #e8eaed;
}
