body {
  font-family: "Lexend Deca", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
a {
  color: grey;
  font-size: 18px;
  text-decoration: none;
}

ol {
  display: flex;
  justify-content: space-evenly;
  width: 380px;
  list-style-type: none;
}

/*Additional Task */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 584px;
  margin: 6em auto;
}

div.search-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  height: 44px;
  width: 100%;
  padding: 5px 8px 0 16px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

div.search-container:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

main input[type="text"] {
  font-family: "Lexend Deca", sans-serif;
  border: none;
  width: 100%;
  margin-top: -4px;
  font-size: 22px;
}
div.search-container input[type="text"]:focus {
  outline: none;
}

.search--logo {
  height: 30px;
  width: 30px;
  margin-top: 5px;
  margin-right: auto;
}

.microphone--logo {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
